@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

@font-face {
  font-family: "customFont";
  src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

.dropdown-menu {
  position: sticky;
  top: 0;
  background-color: transparent;
  z-index: 1;
}

.dropdown-menu li:hover {
  text-shadow: 0 0 10px #fd1ab5;
  filter: dropshadow(color=#000000, offx=2, offy=2);
  font-weight: bold;
}

/* Style untuk gambar banner */
.banner-image {
  position: relative;
  margin-bottom: -5px;
}

.banner-image img {
  width: 100%;
  height: 860px;
  object-fit: cover;
}


/* ================style untuk bar navigasi==================*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #18122B;
}

.dropdown li:hover {
  display: block;
}

nav ul {
      font-size: 0;
      margin: 0;
      padding: 0;
    }
     
     
    nav ul li ul {
      border-bottom: 5px solid #443C68;
      display: none;
      position: absolute;
      width: 250px;
    }
     
    @media screen and (max-width: 768px) {
      .logo {
        display: none;
      }
    }



/*--------hamburger menu untuk mobile------
@media screen and (max-width: 768px) {
  .burger-menu {
    display: block;
    cursor: pointer;
  }

  .burger-menu span {
    display: block;
    background-color: #635985;
    width: 24px;
    height: 3px;
    margin-bottom: 6px;
  }

  .dropdown-menu.show {
    display: block;
  }

  .dropdown-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }

  .dropdown-menu li {
    margin: 0 10px;
  }
  
}
gagal-non fungsional-save for later*/


/*============================================*/




.dropdown-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.dropdown-menu li {
  list-style: none;
  margin: 0 10px;
  position: relative;
}

.dropdown-menu li a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.5s ease;
}



.dropdown {
  position: absolute;
  display: none;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.dropdown li a {}


.dropdown-menu li:hover .dropdown {
  display: flex;
  flex-direction: column;
  flex: 2;
}




/* ===================style konten======================= */

.main {
  padding: 20px;
}

#intro {
  display: flex;
  flex-wrap: wrap;
}

.intro-title {
  font-family: customFont;
}

.perkenalan {
  margin: auto;
  padding: 60px;
  text-align: center;
  background-color: #18122B;
  transition: 200ms ease-in-out;
  color: white;
  width: 100%;
}


.artikel {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: auto;
  text-align: justify;
  font-size: 22px;
}

@media (max-width: 768px) {
  .highlight p {
    margin: 1rem;
    padding: 0;
    font-size: 16px;
  }

  .gambar-artikel {
    margin-left: 34px;
  }
}



.artikel-container {
  background-color: #443C68;
  max-width: 100%;
}

.artikel article {
  flex: 2;
  margin: auto;
  background-color: #443C68;
  color: white;
  max-width: 100%;
}

.clear {
  clear: right;
}



.artikel aside {
  float: right;
  width: 25%;
  background-color: #393053;
  text-align: center;
}

@media (max-width: 768px) {
  aside {
    display: none;
  }
}


li {
  list-style-type: none;
}

.articles h2,
.articles h3 {
  margin-top: 0;
}

.artikel h3 {
  text-align: center;
}

.articles ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.articles li {
  margin-bottom: 5px;
}

.highlight {
  width: auto;
  max-width: 100%;
  border: 1px solid rgb(43, 43, 43);
  overflow: auto;
  background-color: rgba(245, 245, 245, 0.034);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.192);
  border-radius: 5px;
  margin: 0.925rem;

}

.highlight p {
  margin: 3rem;
}

a {
  color: #1c1436;
}

.highlight img {
  float: left;
  margin: 1.7rem;
  height: auto;
  width: 200px;
  clear: left;
}

@media screen and (max-width: 600px) {
  .articles {
    flex-direction: column;
  }
}

/*=========================profile============================*/
.profile {
  display: flex;
  flex-direction: column;

}

.profile img {
  border: 1px solid red;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 20px;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-media a {
  display: inline-block;
  margin: 0 10px;
}

.social-media i {
  font-size: 30px;
  color: #888;
}

.social-media i:hover {
  color: #333;
}

/* logo navigasi */
.logo img {
  height: 50px;
  width: 50px;
}


/* kaki-kaki */
.footer {
  background-color: #302d2d;
  padding: 5px 5px;
  text-align: center;
}

.footer a, span { 
  text-decoration: none;
  font-size: 18px;
  margin: auto;
  color: #f2f2f2;
  font-weight: 600;
}

.footer a:hover{
  color: #635985;
}
