@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

@font-face {
  font-family: "customFont";
  src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}




/* Style untuk gambar banner */
.banner-image {
  position: relative;
  margin-bottom: -5px;
}

.banner-image img {
  width: 100%;
  height: 760px;
  object-fit: cover;
}


/* ================style untuk bar navigasi==================*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: transparent;
  transition: background-color 0.5s ease-out;
}

.navbar-scrolled {
  background-color: #18122B;
  height: 20px;
}

.dropdown ul li:hover {
  display: block;
}

nav ul {
  font-size: 0;
  margin: 0;
  padding: 0;
}


nav ul li ul {
  border-bottom: 5px solid #443C68;
  display: none;
  position: absolute;
  width: 250px;
}

@media screen and (max-width: 768px) {
  .logo {
    display: none;
  }
}

.dropdown-menu li img {
  width: 35px;
  height: auto;
  display: block;
  -webkit-filter: drop-shadow(3px 7px 2px #222);
  filter: drop-shadow(3px 7px 2px #222);
  transition: transform .2s;
}

.dropdown-menu li img:hover {
  transform: scale(1.3);
}

.dropdown-menu-scrolled li img {
  -webkit-filter: drop-shadow(3px 0px 2px #7f5af0);
  filter: drop-shadow(0px 5px 7px #ed63ff, 0 0px 2px #7f5af0);
  transition: 0.7s;
}



/*--------hamburger menu untuk mobile------
@media screen and (max-width: 768px) {
  .burger-menu {
    display: block;
    cursor: pointer;
  }

  .burger-menu span {
    display: block;
    background-color: #635985;
    width: 24px;
    height: 3px;
    margin-bottom: 6px;
  }

  .dropdown-menu.show {
    display: block;
  }

  .dropdown-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }

  .dropdown-menu li {
    margin: 0 10px;
  }
  
}
gagal-non fungsional-save for later*/


/*============================================*/




.dropdown-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.dropdown-menu li {
  list-style: none;
  margin: 0 10px;
  position: relative;
}

.dropdown-menu li a  {
  padding: 15px 15px;
  text-decoration: none;
  display: block;
  margin: 5px;
}


.konten-drop {
  display: none;
  position: absolute;
  background-color: transparent;
  width: 100px;
  box-shadow: 3px 7px 2px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: 1px solid #443C68;
  border-radius: 7px;  
}

.konten-drop a {
  color: white;
  text-align: center;
}



.dropdown:hover .konten-drop {
  display: block;
  transition: 0.5s ease-in;
}

.konten-drop a:hover {
  background-color: #443C68;
  border-radius: 10px;
  transition: 0.5s ease-in;
}

.konten-drop-transform .konten-drop a {
  border: 1px solid #3c3b3b;
  background-color: #7057e0;
  box-shadow: 3px 5px 2px rgba(0, 0, 0, 0.2);
  transition: 0.5s ease-in;
}

/* ===================style konten======================= */

.main {
  padding: 20px;
}

#intro {
  display: flex;
  flex-wrap: wrap;
}

.intro-title {
  font-family: customFont;
}

.perkenalan {
  margin: auto;
  padding: 60px;
  text-align: center;
  background-color: #18122B;
  transition: 200ms ease-in-out;
  color: white;
  width: 100%;
}


#artikel {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: auto;
  text-align: justify;
  font-size: 22px;
}

@media (max-width: 768px) {
  .highlight p {
    margin: 1rem;
    padding: 0;
    font-size: 16px;
  }

  .gambar-artikel {
    margin-left: 34px;
  }
}



.artikel-container {
  background-color: #443C68;
  max-width: 100%;
}

#artikel article {
  flex: 2;
  margin: auto;
  background-color: #443C68;
  color: white;
  max-width: 1180px;
  width: 100%;
}

.clear {
  clear: right;
}



aside {
  float: right;
  width: 25%;
  background-color: #393053;
  text-align: center;
}

@media (max-width: 768px) {
  aside {
    display: none;
  }
}


li {
  list-style-type: none;
}

.articles h2,
.articles h3 {
  margin-top: 0;
}

#artikel h3 {
  text-align: center;
}

.articles ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.articles li {
  margin-bottom: 5px;
}

.highlight {
  width: auto;
  max-width: 100%;
  border: 1px solid rgb(43, 43, 43);
  overflow: auto;
  background-color: rgba(245, 245, 245, 0.034);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.192);
  border-radius: 5px;
  margin: 0.925rem;

}

.highlight p {
  margin: 3rem;
  overflow: auto;
}

a {
  color: #1c1436;
}

.highlight img {
  float: left;
  margin: 1.7rem;
  height: auto;
  width: 200px;
  clear: left;
}

@media screen and (max-width: 600px) {
  .articles {
    flex-direction: column;
  }
}

/*=========================profile============================*/
.profile {
  display: flex;
  flex-direction: column;

}

.profile img {
  border: 1px solid red;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 20px;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-media a {
  display: inline-block;
  margin: 0 10px;
}

.social-media i {
  font-size: 30px;
  color: #888;
}

.social-media i:hover {
  color: #333;
}

/* logo navigasi */
.logo img {
  height: 50px;
  width: 50px;
}


/* kaki-kaki */
.footer {
  background-color: #302d2d;
  padding: 5px 5px;
  text-align: center;
}

.footer a,
span {
  text-decoration: none;
  font-size: 18px;
  margin: auto;
  color: #f2f2f2;
  font-weight: 600;
}

.footer a:hover {
  color: #635985;
}